{% extends 'starter-page.html' %}
{% load static %}

{% block body %}
	<!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Quick overview of my academic achievements and career progression</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Summary</h3>

            <div class="resume-item pb-0">
              <h4>Joy Nyayieka</h4>
              <p><em>Motivated and detail-oriented developer and junior data scientist with hands-on experience in Python (Django, Flask), API integration, and database management (MySQL, SQLite). Proficient in building scalable web applications, and leveraging data science tools like Pandas, NumPy, and SQL to drive insights. Passionate about solving real-world problems through technology in a collaborative environment.</em></p>
              <ul>
                <li>Nairobi, Kenya</li>
                <li>+254 755 857 988</li>
                <li>joynyayieka@gmail.com</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Education and Professional Development</h3>
            <div class="resume-item">
              <h4>Bachelor of Science in Computer Science</h4>
              <h5>September 2021 - July 2025</h5>
              <p><em>Riara University, Nairobi, Kenya.</em></p>
              <p>Beyond the binary, I immersed myself in She Code Africa community and Riara University book club, both of which I led and played a vital role in
              building authentic connections in and out of school.</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Web Development Bootcamp</h4>
              <h5>October 2024 - December 2024</h5>
              <p><em>eMobilis Technical Training Institute</em></p>
              <p>Selected as one of the recipients of the prestigious Mastercard Scholarship to pursue a Bootcamp at eMobilis, chosen from over 2,900 applicants. Successfully completed the program, gaining hands-on experience in website development and mastering industry-standard practices for creating scalable, efficient, and user-friendly web applications.</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>KamiLimu Mentorship</h4>
              <h5>March 2024 - November 2024</h5>
              <p><em><a href="https://www.kamilimu.org/">KamiLimu Ltd</a></em></p>
              <p>Honored to be selected as one of 38 mentees in a pool of about 200, where I have embarked on a journey of growth and learning in personal and professional development, industry-relevant ICT skills, innovation, scholarship, and community engagement to compete globally, innovate locally, and succeed in careers as innovators, entrepreneurs, leaders or employees.</p>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Network Security Engineer</h4>
              <h5>January 2024 - April 2024</h5>
              <p><em>Next Technology Ltd </em></p>
              <ul>
                <li>Implemented the setup of hardware LANs at branches of Stanbic Bank and KCB Towers under the guidance of my
 supervisor during the internship's initial phase.</li>
                <li>Enhanced the implementation of FortiNAC deployment at AMREF International University, following the guidance of my supervisor to enhance network security.
                </li>
                <li>Collaborated closely with experienced professionals under the guidance of my supervisor to troubleshoot, optimize, and
                     secure network systems, further developing technical skills and commitment to driving impactful change in the technology sector.
                </li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>ICT Officer Intern</h4>
              <h5> October 2022- March 2023</h5>
              <p><em>Mbagathi District Hospital</em></p>
              <ul>
                <li> Supported and maintained the hospital's technological infrastructure, troubleshooted IT issues, and assisted
 in implementing digital solutions to improve healthcare delivery.</li>
              </ul>
            </div><!-- Edn Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->


{% endblock %}